.vertical-divider {
	height: 250px;
	margin: 0 9px;
	border-left: 10px solid #F2F2F2;
	border-right: 1px solid #FFF;
}

.imagens-restaurantes {
	text-align: center;
}

.center-panel {
	width: 34%;
	margin-left: 33%;
	text-align: center;
}